<% @header='Acknowledge Flows' %>

  <ul class="links"><li>
	<%= Entity.find(:all, :conditions => "entity_type = 'currency' ").collect{|e| o = e.omrl; link_to o,'/acknowledge_flow/' << o  }.join("</li><li>")%>
		</li>
  </ul>
