<% @header='Acknowledge Flow' %>

<%= error_messages_for :event %>

<form action="/acknowledge_flow/<%= @currency_omrl %>" method="post">
	Credentials: Tag <%= text_field_tag(:tag) %> Password <%= password_field_tag %><br />
	<%= input_form(@currency.get_specification,:language => params[:lang]) %>
</form>

