<p>
  <b>Type</b><br />
  <%= form.select(:entity_type,Entity::Types) %>
</p>

<p>
  <b>Specification</b><br />
  <%= form.text_area :specification %>
</p>

<p>
  <b>Access control</b>
  <p class="specification"><%=h @entity.access_control %></p>
</p>

<p>
  <b>Set password</b> <%= text_field_tag(:password)%><br />
</p>

