<h1>New entity</h1>

<%= error_messages_for :entity %>

<% form_for(:entity, :url => entities_path) do |f| %>

  <%= render(:partial => 'form', :object => f) %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', entities_path %>