<h1>New event</h1>

<%= error_messages_for :event %>

<% form_for(:event, :url => events_path, :html => { :name => 'event'}) do |f| %>

  <%= render(:partial => 'form', :object => f) %>
  <p>
    <%= submit_tag "Add Event to Churn" %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>