<p>
  <b>Omrl</b><br />
  <%= form.text_field :omrl %>
</p>

<p>
  <b>Link type</b><br />
  <%= form.select(:link_type,Link::Types) %>
</p>
<p>
  <b>Specification</b><br />
  <%= form.text_area :specification, :rows=>4 %>
</p>