<h1>Editing link</h1>

<%= error_messages_for :link %>

<% form_for(:link, :url => link_path(@entity,@link), :html => { :method => :put }) do |f| %>

	<%= render(:partial => 'form', :object => f) %>
 <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', link_path(@entity,@link) %> |
<%= link_to 'Back', links_path %>