<p>
  <b>Entity:</b>
  <%=h @link.entity_id %>
</p>

<p>
  <b>Omrl:</b>
  <%=h @link.omrl %>
</p>

<p>
  <b>Link type:</b>
  <%=h @link.link_type %>
</p>

<p>
  <b>Specification:</b>
  <p  class="specification"><%=h @link.specification %></p>
</p>

<p>
  <b>Created at:</b>
  <%=h @link.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @link.updated_at %>
</p>


<%= link_to 'Edit', edit_entity_link_url(@entity,@link) %> |
<%= link_to 'Back', entity_links_url %>