<% @header='Create Context' %>
<%= error_messages_for :event %>

<form action="/contexts" method="post">
	Context name: <%= text_field_tag (:name,params[:name]) %> in <%= contexts_select(:parent_context,params[:parent_context]) %>
	<br />
	Description: <%= text_field_tag (:description,params[:description],:size => 50) %>
	<br />
	<%= submit_tag("Create Context") %>
    
</form>

