<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>rubyom: <%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<div id="navs">
	<%= link_to "entities", :controller => 'entities' %> [ <%= link_to "currencies", '/currencies' %> <%= link_to "accounts", '/accounts' %> <%= link_to "flows", '/flows' %> ]
	<%= link_to "events", :controller => 'events' %> (<%= link_to "new event", 'events/new' %>)
	<br />
	<%= Entity.find(:all, :conditions => "entity_type = 'currency' ").collect{|e| o = e.omrl.chop; link_to o,'/acknowledge_flow/' << o  }.join(" ")%>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
