<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>rubyom: <%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'rubyom' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">

          <li>
            <ul class="links">
              <li><a href="/">home</a></li>
              <li><a href="/contexts/new">create contexts</a></li>
              <li><a href="/accounts/new">create accounts</a></li>
              <li><a href="/currencies/new">create currencies</a></li>
              <li><a href="/currencies/join">join currencies</a></li>
              <li><a href="/acknowledge_flows">acknowledge flows</a></li>
            </ul>
          </li>

          <li>
            <h3>Open money info</h3>
            <ul class="links">
              <li><a href="http://openmoney.info/sophia">general theory</a></li>
              <li><a href="http://openmoney.info/techne">tech info</a></li>
              <li><a href="http://openmoney.info/phronesis">practice</a></li>
              <li><a href="http://openmoney.info/play">participation</a></li>
            </ul>
          </li>
        
          <li>
            <h3>Low Level CRUD</h3>
            <ul class="links">
              <li><a href="/events">events</a> <a href="/events/new">[new]</a></li>
              <li></li>
              <li><a href="/entities">entities</a>
              <li>&nbsp;&nbsp;<a href="/currencies">currencies</a></li>
              <li>&nbsp;&nbsp;<a href="/accounts">accounts</a></li>
              <li>&nbsp;&nbsp;<a href="/flows">flows</a></li>
            </ul>
          </li>
          
        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1><%= @header ? @header : 'rubyom' %></h>
        </div>

		<p style="color: green"><%= flash[:notice] %></p>

        <div id="action">
		<%= yield  %>
		</div>
        
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>




</body>
</html>
